.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  pointer-events: none;
}

.preloader-transition {
  width: 100%;
  height: 100%;
  display: block;
}

.preloader-path {
  vector-effect: non-scaling-stroke;
}
